body{
    background-image: url(images/baggrund.png);
    background-color: #cccccc;
    width: 100vw;
    height: 100vh;
}

/*Vincent*/
























/*Andreas*/



















/*Frederik*/



















/*Sebastian*/













