*{
    font-family: "HaasGrotesk", Helvetica, sans-serif; margin: 0;
}
/*Vincent*/
.ulvenstre{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-top: 10px;
}
.ulhoejre{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: flex-end;
    margin-top: 10px;
}
ul li{
    margin: 10px 15px 0px 15px;
}

nav {
    display: flex;
    justify-content: space-between; 
    padding-top: 2px;
    font-size: 11px; 
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .left {
    left: 0;
  }
  
  .right {
    right: 0;
}

p{
    font-size: 11px;
    line-height: 1.5em;
    font-weight: 500;
}

h1 {
    font-size: 25px;
    line-height: 1.3em;
    margin-bottom: 5px;
    font-weight: 500;
}

.borderbox{
    border:1px solid black;
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: row;
    margin-right: 8px;
    border-radius: 3px;
}

.horisontalt{
    display: flex;
    flex-direction: row;
}

.stortbillede{
    float: right;
    margin-right: 200px;
    height: 750px;
    width: 750px;
}

.lagunelogo{
    padding-top: 10px;
    width: 179px;
    height: 64px;
    margin-right: 300px;
}

/*fjener texdecoration under link*/

a{
    text-decoration: none;
    color: black;
}

/* Kurv hoover effect*/
a:hover {
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px;
  }

/*.kurvheader{
    grid-template-columns: repeat(9, 1fr);
    gap: 30px;
    z-index: 1;
    padding-bottom: 10px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-size: 11px;
    color: #9e9e9e;
    justify-content: space-between;
}

.kurvheader__indhold{

    grid-template-columns: repeat(9, 1fr);
    gap: 30px;
    z-index: 1;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-size: 11px;
    color: #000000;
    justify-content: space-between;
}

.kurvheader__indhold--img{
    max-width: 100px;
    height: auto;
}*/
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #fff;
  }

  .storeflex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .checkoutbutton{
    background-color: black;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }















/*Andreas*/


.slideshow-wrapper {
    display: flex;
    justify-content: right; 
    flex-direction: row;

}


.slideshow-container {
    max-width: 1000px;
    position: relative; 
    margin: 0;
    
}


.prev, .next {
    cursor: pointer;
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    user-select: none;
    transition: 0.1s;

}

.prev {
    left: 20px;
}

.next {
    right: 220px;
}

/*Frederik*/

.add-to-cart {
    background-color: #000;
    color: #fff;
    border: 2px solid black;
    padding: 12px 20px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    min-width: 130px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 10px;
    display: block;
   margin-left: 30px;
}

.add-to-cart:hover {
    background-color: #ffffff;
    border-radius: 5px;
    color: #000;
    border: 2px solid black;
}

.add-to-cart:active {
    background-color: #ffffff;
    border: #000;
    border-radius: 5px;
    color: #000;
}

#kurvtal{
    border: none;
    color:black;
    font-weight: bold;
    border-radius: 999px;
    width: fit-content;
    margin-left: -15px;
    margin-top: -20px;
}


















/*Sebastian*/




.knapletter {
    /*position: relative;
    display: inline-block;*/
display: flex;
flex-direction: row;
margin-bottom: 30px;
margin-top: 30px;
    
}

.stoerrelseknap {
    background-color: #ffffff;
    cursor: pointer;
    font-size: 11px;
    padding: 12px 20px;
    /*font-weight: 200;*/
    border: 2px solid black;
    border-radius: 10px;
    min-width: 130px;
    text-align: end;
}

.stoerrelseknap:hover {
    background-color: black;
    color: white;
}

.stoerrelserClass {
    /*display: none;*/
    position: absolute;
    overflow: auto;
    min-width: 130px;
    z-index: 1;
    background-color: #f2f2f2;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
}

.stoerrelserClass p {
    /*display: block;*/
    font-size: 11px;
    padding: 10px;
    /*font-weight: 500;*/
    cursor: pointer;
    border: 1px solid black;
    text-align: end;
}

.stoerrelserClass P:hover {
    background-color: black;
    color: white;
}
/*
.show {
    display: block;
}

.hide {
    display: none;
}*/