*{
    font-family: "HaasGrotesk", Helvetica, sans-serif;
}
/*Vincent*/
.ulvenstre{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.ulhoejre{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: flex-end;
}
ul li{
    margin: 10px 15px 0px 15px;
}

nav {
    display: flex;
    justify-content: space-between; 
    padding-top: 2px;
    font-size: 11px; 
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .left {
    left: 0;
  }
  
  .right {
    right: 0;
}

p{
    font-size: 11px;
    line-height: 1.5em;
    font-weight: 500;
}

h1 {
    font-size: 25px;
    line-height: 1.3em;
    margin-bottom: 5px;
    font-weight: 500;
}

.borderbox{
    border:1px solid black;
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: row;
    margin-right: 8px;
    border-radius: 3px;
}
.horisontalt{
    display: flex;
    flex-direction: row;
}

.stortbillede{
    float: right;
    margin-right: 200px;
    height: 750px;
    width: 750px;

}

.lagunelogo{
    padding-top: 10px;
    width: 179px;
    height: 64px;
}









/*Andreas*/



















/*Frederik*/



















/*Sebastian*/




#stoerrelsedropdown {
    /*position: relative;
    display: inline-block;*/
}

.stoerrelseknap {
    background-color: #ffffff;
    cursor: pointer;
    font-size: 11px;
    padding: 10px;
    /*font-weight: 200;*/
    border: 2px solid black;
    border-radius: 10px;
    min-width: 120px;
}

.stoerrelseknap:hover {
    background-color: black;
    color: white;
}

.stoerrelserClass {
    display: none;
    position: absolute;
    overflow: auto;
    min-width: 120px;
    z-index: 1;
    background-color: #f2f2f2;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
}

.stoerrelserClass p {
    /*display: block;*/
    font-size: 11px;
    padding: 10px;
    /*font-weight: 500;*/
}

.stoerrelserClass P:hover {
    background-color: black;
    color: white;
}

.show {
    display: block;
}




























/*Andreas*/



















/*Frederik*/



















/*Sebastian*/













